.categories_root {
    margin-top: 10px;
    background-color: white;

}
.categories_container {
    padding: 16px;
}

.top_bar {
    padding: 15px;
    background-color: #fff


}

.product_root {
    margin:1px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}